/* Add styles here */
#pato-block {
    width: 60%;
    height: 80px;
    background-color: #1F00FF;
}

.container {
    display: flex;
    flex-direction: column;
}

#img-logo {
    display: block; /* Ensure it behaves as a block element for margin auto */
    margin: 0 auto; /* Auto margins horizontally center block elements */
}

.option-black {
    background-color: black;
}

.option-yellow {
    background-color: yellow;
}

.menu-block {
    width: 60px;
    height: 50px;
}

.button-contact-us {
    background-color: black;
    color: white;
    border: none;
    height: 30px;
    width: 130px;
    font: bold 12pt Arial;
}

#contact-us {
    flex: 1;
    align-content: center;
    padding-right: 71px;
    justify-content: end;
    display: flex;
    flex-wrap: wrap;
}

#menu {
    display: flex;
    flex: 1;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

#logo {
    display: flex;
    flex: 1;
    justify-content: start;
    padding-left: 90px;
}

#footer-container {
    display: flex;
    padding: 90px 90px 90px 170px;  
}

#footer-pages-links {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-weight: bold;
    font-size: xx-large;
}

#social-media-links {
    display: flex;
    gap: 15px;
}

#image-pato {
    background-color: black;
    height: 400px;
    padding-top: 200px;
}

.yellow-box {
    background-color: yellow;
    height: 90px;
    width: 60%;
    margin: 0 auto;
}

#contact-us-content {
    display: flex;
    flex-direction: column;
    height: 900px;
}

#contactus-contacts {
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: yellow;
    padding-left: 150px;
}

#contactus-social-networks {
    height: 300px;
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0px 290px 50px 290px;
}

.social-networks-button-container {
    flex: 1;
}

.social-networks-buttons {
    width: 400px;
    height: 80px;
    background-color: #1F00FF;
    color: white;
    font-weight: 600;
    font-size: 35px;
    border: none;
}